<body>
<center><h1>Welcome to Catbit!</h1></center>
<center><%= link_to "Login Using Fitbit Account", "/auth/fitbit" %></center>
</br>
<center><img width="75%"src="/catbit.png" alt="catbit logo" /></center>
</body>