<h1>Steps</h1>
	<%= number_field(:data, :steps, in: 1..99999) %>
<h1>Distance</h1>
	<%= number_field(:data, :miles, in: 1.0..99999.0, step: 0.1) %>
<h1>Calories</h1>
	<%= number_field(:data, :calories, in: 1..99999) %>
<h1>You Earned:</h1>
	<%= number_field(:data, :points, in: 1..99999) %>
	<input id="points" max="99999" min="1" name="points[points]" type="data" />
	
